@media screen and (max-width: 950px) {
    body {
     position: relative;
     top: 0%;
     bottom: 0%;
     right: 0%;
     left: 0%;
     }
    }



#navbar{
    display:flex;
    float:inline-start;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(209, 208, 208);
    height: 100px;
    position: fixed;
    top: 0;
}
#navbar li{
    margin:0;
    display: inline-block;
    text-decoration: none;
    
}

#navbar li a{
   font-size: 20px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: black;
}

  /*  za dropdown navbara */
  
.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
 cursor:pointer;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  
  z-index: 1;
}

/*when hovering items in dropdown*/
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  transition: 1.2s ease;

  
}

.navigation a:hover, .dropdown:hover .dropbtn {
  background-color: none;
  color: white;
  
}

.dropdown-content a:hover {
  background-color: rgb(230, 230, 230);
  color: black;
  
}

.dropdown:hover .dropdown-content {
  display: block;
}



 /*OPCENITO DOVDE*/

 /*Prvi row*/
 #row1{
    
  margin-top: 100px;
    background-image: url(imgs/galerija/pozadina1.jpg);
    background-size: 100% 130%;
    height: 400px;

    }

 #col1_1{
     margin:10px;
     background-color:rgba(250, 235, 215, 0.651);
     border-radius: 10px;
     
 }
 #c1r2 img{
     width: 300px;
     height: auto;
     }

#c1r1{
    justify-content: center;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
}

   #c1r2{
    justify-content: center;
   }

   #c1r3{
    justify-content: center;
    font-size: 40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
   }
   #tel{
       width: 70px;
       height: auto;
   }

#col1_2 {
    margin:10px;
   text-align:left;
   font-size: 24px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding:70px;
  background-color:rgba(250, 235, 215, 0.651);
  border-radius: 10px;
  


}
/*Drugi row*/

#row2{
   
    text-align:left;
    padding-bottom: 30px;
    background-color: rgb(0, 40, 51);
    padding-top: 50px;
    
    
}

#row2 p{
    text-align: center;
    color: oldlace;
}
h3{
    font-size: 35px;
   text-align: center;
   margin-bottom: 55px;
   color: oldlace;
   font-family:'Courier New', Courier, monospace;
   font-weight: bold
}

 #row2 img{
    
    display: block;
  margin-left: auto;
  margin-right: auto;
margin-bottom: 25px;
}

#row2 h4{
    text-align: center;
    color:rgb(255, 195, 29)
}

   

    #col2_3 img{
        margin-bottom: 5px;
       
    }
    
    /*Treci row*/
#row3{
    padding-bottom: 70px;
    background-color: rgb(0, 40, 51);

}

#row3 h3{
        margin-top: 34px;
        color: oldlace;
    }

#row3 a{
    font-family:'Courier New', Courier, monospace;

        color:rgb(255, 195, 29)
    }

#row3 .col-sm-3{
    height: 300px;
}


#row3 .col-sm-3 img{
width: 100%;
height: auto;
border-radius: 5px;

}

/*Cetvrti red*/

#row4{
    background-image: url(imgs/galerija/pozadina2.jpg);
    background-size: 100% 130%;
    height: auto;
    padding-top: 50px;
    padding-right: 65px;
    padding-left: 65px;
}


#row4 img{
    width: 130px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}



#lc_r1{
    background-color: rgba(0, 40, 51, 0.801);
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom:15px ;
    color: oldlace;
    text-align: center;
    height: 220px;

}

#lc_r2{
    background-color: rgba(0, 40, 51, 0.801);
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom:40px ;
    color: oldlace;
    text-align: center;
    height: 220px;

}



footer{
    background-color: rgb(0, 40, 51);
    color: oldlace;
    margin: 0;
    width: 100%;
    
}
